/*
font-family: dinmedium
font-family: dinlight
font-family: dinbold
*/

/**
 * @license
 * MyFonts Webfont Build ID 2991806, 2015-03-16T10:02:39-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: FF DIN Web Pro Bold by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-din/pro-bold/
 * 
 * Webfont: FF DIN Web Pro Light by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-din/pro-light/
 * 
 * Webfont: FF DIN Web Pro Medium by FontFont
 * URL: http://www.myfonts.com/fonts/fontfont/ff-din/pro-medium/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2991806
 * Licensed pageviews: 500,000
 * Webfonts copyright: 2009 Albert-Jan Pool published by FSI FontShop International GmbH
 * 
 * © 2015 MyFonts Inc
*/
  
@font-face {font-family: 'dinbold';src: url('../fonts/2DA6BE_0_0.eot');src: url('../fonts/2DA6BE_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2DA6BE_0_0.woff2') format('woff2'),url('../fonts/2DA6BE_0_0.woff') format('woff'),url('../fonts/2DA6BE_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'dinlight';src: url('../fonts/2DA6BE_1_0.eot');src: url('../fonts/2DA6BE_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2DA6BE_1_0.woff2') format('woff2'),url('../fonts/2DA6BE_1_0.woff') format('woff'),url('../fonts/2DA6BE_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'dinmedium';src: url('../fonts/2DA6BE_2_0.eot');src: url('../fonts/2DA6BE_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2DA6BE_2_0.woff2') format('woff2'),url('../fonts/2DA6BE_2_0.woff') format('woff'),url('../fonts/2DA6BE_2_0.ttf') format('truetype');}
