/* HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 17, lotus.scss */
html,
button,
input,
select,
textarea {
  color: #222;
}

/* line 21, lotus.scss */
html {
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
/* line 32, lotus.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

/* line 37, lotus.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
/* line 46, lotus.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */
/* line 63, lotus.scss */
audio,
canvas,
img,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
/* line 71, lotus.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, lotus.scss */
textarea {
  resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
/* line 89, lotus.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Remove dotted borders on links
   ========================================================================== */
/* line 107, lotus.scss */
:active {
  outline: none;
}

/* line 111, lotus.scss */
:focus {
  -moz-outline-style: none;
}

/* You Will See This: */
/* line 118, lotus.scss */
:-moz-any-link:focus {
  outline: 1px dotted invert;
}

/* Change It To This: */
/* line 124, lotus.scss */
:-moz-any-link:focus {
  outline: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
/* line 143, lotus.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 151, lotus.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
/* line 162, lotus.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
/* line 171, lotus.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
/* line 188, lotus.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
/* line 201, lotus.scss */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 218, lotus.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 223, lotus.scss */
.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
/* line 232, lotus.scss */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  /* line 259, lotus.scss */
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 267, lotus.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 271, lotus.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 275, lotus.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
  /* line 285, lotus.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 290, lotus.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 295, lotus.scss */
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  /* line 300, lotus.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 304, lotus.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 314, lotus.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 320, lotus.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/*********** Photog WEBSITE CSS = AUTHOR: ? **************/
/**********

font-family: "brandon-grotesque",sans-serif;

*************/
/* line 466, lotus.scss */
.opacity0 {
  opacity: 0;
}

/* line 469, lotus.scss */
.opacity1 {
  opacity: 1;
}

/* line 472, lotus.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 481, lotus.scss */
.centreObject {
  min-height: none;
  min-width: none;
  width: 100%;
  height: auto;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 491, lotus.scss */
.fullwidth {
  width: 100%;
  height: auto;
}

/* line 498, lotus.scss */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
  font-family: dinmedium;
}

/* line 511, lotus.scss */
a {
  color: #fff;
  text-decoartion: underline;
}

/* line 515, lotus.scss */
h1, h2, h3 {
  font-weight: normal;
}

/* line 518, lotus.scss */
.canvas {
  position: relative;
  left: 0px;
  top: 0px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
/* line 526, lotus.scss */
.dropShadow {
  margin: 0;
  padding: 0%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.75);
}

/* line 534, lotus.scss */
header.page {
  overflow: visible;
  float: left;
  width: 100%;
  position: relative;
  background: url("../img/header_bg.gif") left bottom repeat-x #2c2c2b;
  min-height: 76px;
  margin-bottom: 30px;
  padding-top:20px;
}
/* line 542, lotus.scss */
header.page mobileMenuToggle {
  display: none;
}
/* line 545, lotus.scss */
header.page .lotusLogo {
  position: absolute;
  bottom: -25px;
  left: 50%;
  margin-left: -39px;
}
/* line 551, lotus.scss */
header.page nav {
  width: 100%;
}
/* line 553, lotus.scss */
header.page nav ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 558, lotus.scss */
header.page nav ul li {
  width: 25%;
  display: inline-block;
  text-align: center;
}
/* line 562, lotus.scss */
header.page nav ul li a {
  font-family: dinmedium;
  outline: 0;
  display: inline-block;
  height: 76px;
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 30px;
  width: auto;
  margin: 0 auto;
  color: #ffffff;
  text-decoration: none;
  vertical-align: middle;
  font-size: 0.7em;
}
/* line 576, lotus.scss */
header.page nav ul li a:hover {
  border-bottom: 9px solid #ffe800;
}
/* line 579, lotus.scss */
header.page nav ul li a.current {
  border-bottom: 9px solid #ffe800;
}

@media screen and (max-width: 640px) {
  /* line 588, lotus.scss */
  header.page {
    overflow: visible;
    float: left;
    padding-top:40px;
  }
  /* line 589, lotus.scss */
  header.page.open nav {
    height: 120px;
  }
  /* line 590, lotus.scss */
  header.page .mobileMenuToggle {
    display: block;
    width: 30px;
    margin: 5px auto 0 auto;
  }
  /* line 594, lotus.scss */
  header.page .mobileMenuToggle div {
    display: block;
    width: 30px;
    height: 5px;
    background-color: #ffe800;
    margin-bottom: 3px;
  }
  /* line 604, lotus.scss */
  header.page nav {
    -webkit-transition: height 0.3s ease;
    -moz-transition: height 0.3s ease;
    -ms-transition: height 0.3s ease;
    -o-transition: height 0.3s ease;
    transition: height 0.3s ease;
    overflow: hidden;
    margin-bottom: 65px;
    height: 0px;
  }
  /* line 610, lotus.scss */
  header.page nav ul li {
    width: 100%;
    display: block;
    height: auto;
  }
  /* line 614, lotus.scss */
  header.page nav ul li a {
    font-size: 1.2em;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 5px;
  }
  /* line 620, lotus.scss */
  header.page nav ul li a:hover {
    border-bottom: 0;
  }
}
/* line 629, lotus.scss */
.intro {
  width: 80%;
  margin: 0 auto 15px auto;
  text-align: center;
}
/* line 633, lotus.scss */
.intro h1 {
  margin: 0 0 10px 0;
  font-size: 2.4em;
  line-height: 1em;
}
/* line 637, lotus.scss */
.intro h1 span {
  color: #c8c8c8;
  font-family: dinlight;
  font-size: 60%;
  line-height: 80%;
}
/* line 644, lotus.scss */
.intro h2 {
  margin: 0 0 10px 0;
  font-size: 1.3em;
  line-height: 1em;
  letter-spacing: 2px;
}
/* line 649, lotus.scss */
.intro h2 span.hashtag {
  color: #737373;
}
/* line 653, lotus.scss */
.intro p {
  font-family: dinlight;
  font-size: 0.78em;
  line-height: 1.6em;
  text-align: center;
  margin: 0;
}
/* line 659, lotus.scss */
.intro p strong {
  font-weight: normal;
  font-family: dinbold;
}

/* line 665, lotus.scss */
.viewWrapper {
  position: relative;
  z-index: 1;
  width: 892px;
  margin: 0 auto;
}
@media screen and (max-width: 920px) {
  /* line 665, lotus.scss */
  .viewWrapper {
    width: 90%;
  }
}
/* line 674, lotus.scss */
.viewWrapper .viewBox {
  position: static;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 4px solid #383838;
  background: url("../img/hex.gif") left top repeat;
  -webkit-box-shadow: inset 0px 0px 67px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 67px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 67px 0px rgba(0, 0, 0, 0.75);
  padding-bottom: 120px;
}
/* line 682, lotus.scss */
.viewWrapper .gradientFade {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  z-index: 10;
  background: url("../img/black_gradient2.png") left bottom repeat-x;
}

.viewBox .greyButton {
  line-height: 32px;
  padding: 0px 10px;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  font-size: 1.2em;
}



/* line 692, lotus.scss */
.shareBox {
  width: 100%;
  position: relative;
}
/* line 695, lotus.scss */
.shareBox img {
  width: 100%;
  height: auto;
}
/* line 699, lotus.scss */
.shareBox .shareControl {
  position: absolute;
  left: 50%;
  margin-left: -50px;
  bottom: 29px;
  width: 100px;
  text-align: center;
}
/* line 706, lotus.scss */
.shareBox .shareControl h2 {
  margin: 0;
  font-size: 100%;
}
/* line 710, lotus.scss */
.shareBox .shareControl ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
  width: 100%;
}
/* line 715, lotus.scss */
.shareBox .shareControl ul li {
  width: 50%;
  display: inline-block;
}
/* line 718, lotus.scss */
.shareBox .shareControl ul li a {
  outline: none;
  display: block;
  width: 100%;
  text-indent: -9999em;
  height: 20px;
  background-position: center top;
  background-repeat: no-repeat;
}
/* line 727, lotus.scss */
.shareBox .shareControl ul li.facebook a {
  background-image: url("../img/facebook.png");
}
/* line 732, lotus.scss */
.shareBox .shareControl ul li.twitter a {
  background-image: url("../img/twitter.png");
}
@media screen and (max-width: 700px) {
  /* line 699, lotus.scss */
  .shareBox .shareControl {
    position: static;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

/* line 747, lotus.scss */
footer.page {
  width: 100%;
  height: 160px;
  background: url("../img/footer_bg.png") left top repeat-x;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 17px;
}
/* line 753, lotus.scss */
footer.page img, footer.page p, footer.page ul {
  margin: 0 auto;
  display: block;
}
/* line 757, lotus.scss */
footer.page p, footer.page ul {
  width: 270px;
  font-size: 0.7em;
}
/* line 761, lotus.scss */
footer.page p {
  text-align: center;
  margin-bottom: 10px;
}
/* line 765, lotus.scss */
footer.page ul {
  list-style-type: none;
  padding: 0;
  width: 300px;
}
/* line 769, lotus.scss */
footer.page ul li {
  display: inline-block;
  width: 49%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 773, lotus.scss */
footer.page ul li.ll {
  text-align: right;
  padding-right: 10px;
  border-right: 1px solid #fff;
}
/* line 778, lotus.scss */
footer.page ul li.rl {
  text-align: left;
  padding-left: 10px;
}
/* line 782, lotus.scss */
footer.page ul li a {
  text-decoration: none;
}
/* line 784, lotus.scss */
footer.page ul li a:hover {
  text-decoration: underline;
}

/* line 792, lotus.scss */
.languageSelect .enabled {
  background-color: #00ff00;
}

/* line 797, lotus.scss */
.game h2 {
  font-size: 0.9em;
  margin-top: 10px;
  margin-bottom: 0;
  padding-top: 5px;
  font-family: dinlight;
  text-align: center;
  width: 320px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 150%;
  clear: none;
}
/* line 810, lotus.scss */
.game h2.spacer {
  min-height: 58px;
}
/* line 813, lotus.scss */
.game h2 span {
  font-family: dinmedium;
  font-size: 200%;
  line-height: 100%;
}
/* line 820, lotus.scss */
.game .leftCol,
.game .rightCol {
  position: absolute;
  width: 226px;
}
/* line 824, lotus.scss */
.game .leftCol {
  left: 32px;
  top: 38px;
}
/* line 828, lotus.scss */
.game .rightCol {
  right: 32px;
  top: 78px;
}
@media screen and (max-width: 920px) {
  /* line 834, lotus.scss */
  .game .leftCol,
  .game .rightCol {
    position: static;
    left: 0px;
    top: 0px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 842, lotus.scss */
  .game .leftCol {
    left: 0px;
  }
  /* line 845, lotus.scss */
  .game .rightCol {
    margin-top: 10px;
    right: 0px;
  }
  /* line 848, lotus.scss */
  .game .rightCol .evoraLogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 500px) {
  /* line 796, lotus.scss */
  .game {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  /* line 860, lotus.scss */
  .game .viewBox {
    border: 0;
  }
}
/* line 865, lotus.scss */
.game .yellowButton {
  width: 226px;
  margin-left: auto;
  margin-right: auto;
}

/* line 871, lotus.scss */
.instructions {
  width: 226px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/* line 875, lotus.scss */
.instructions h3 {
  color: #c1c1c1;
  font-size: 0.8em;
  margin: 0 0 5px 0;
}
/* line 880, lotus.scss */
.instructions p {
  font-family: dinlight;
  color: #fff;
  font-size: 0.78em;
  margin: 0;
}
/* line 885, lotus.scss */
.instructions p span {
  color: #ffe800;
}
@media screen and (max-width: 920px) {
  /* line 871, lotus.scss */
  .instructions {
    width: 100%;
  }
}

/* line 893, lotus.scss */
div.score {
  background-color: #050505;
  border: 1px solid #383838;
  padding: 12px 0 2px 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}
/* line 899, lotus.scss */
div.score h3 {
  margin: 0;
  font-size: 0.8em;
  line-height: 0.8em;
  text-align: center;
  font-family: dinlight;
}
/* line 906, lotus.scss */
div.score p {
  font-family: dinlight;
  text-align: center;
  margin: 0 0 -10px 0;
  padding: 0;
  font-size: 3.8em;
  line-height: 1.2em;
  color: #979292;
}
/* line 914, lotus.scss */
div.score p span {
  color: #fff;
}
/* line 918, lotus.scss */
div.score div.hr {
  height: 3px;
  width: 100%;
  margin: 0 0 8px 0;
  padding: 0;
  background: url("../img/dot.png") left top repeat-x #050505;
}
/* line 924, lotus.scss */
div.score div.hr hr {
  display: none;
}

/* line 929, lotus.scss */
.arenaWrapper {
  width: 320px;
  height: 320px;
  border: 4px solid #383838;
  margin: 0 auto;
  -webkit-box-shadow: inset 0px 0px 67px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 67px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 67px 0px rgba(0, 0, 0, 0.75);
  position: relative;
}

/* line 939, lotus.scss */
.arena {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  width: 320px;
  height: 320px;
  border: none;
  z-index: 1000;
  position: relative;
}

/* line 953, lotus.scss */
.playerMarker {
  position: absolute;
  z-index: 10;
  left: 77px;
  bottom: 153px;
  background: url("../img/starter_top.png") left top no-repeat;
  width: 200px;
  height: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 17px 0 0 0;
}
.playerMarker p{
  font-family: dinlight;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
  margin:0;
  padding:0 10px;
  width: 200px;
  height: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("../img/starter_bg.png") left top repeat-y;
}
.playerMarker .tail{
  width:200px;
  height:40px;
  background: url("../img/starter_tail.png") left top no-repeat;
}
/*
        <div class="playerMarker"  data-ng-show="gameObject.showMarker">
          <p><span>{{"CLICK_HERE" | translate}}</span></p>
          <div class="tail">&nbsp;</div>
        </div>
*/

/* line 968, lotus.scss */
.object {
  position: absolute;
  z-index: 0;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
  border: 1px solid #d4d2d2;
}

/* line 976, lotus.scss */
#box {
  background-color: #ffe800;
}

/* line 979, lotus.scss */
.enemy {
  background-color: #0f0f0f;
  border-color: #848484;
}

/* line 983, lotus.scss */
.pulse {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  /* line 995, lotus.scss */
  0% {
    transform: scale(0.75);
    opacity: 0.7;
  }

  /* line 999, lotus.scss */
  50% {
    transform: scale(1);
    opacity: 1;
  }

  /* line 1003, lotus.scss */
  100% {
    transform: scale(0.75);
    opacity: 0.7;
  }
}

@-webkit-keyframes pulse {
  /* line 1010, lotus.scss */
  0% {
    -webkit-transform: scale(0.75);
    opacity: 0.7;
  }

  /* line 1014, lotus.scss */
  50% {
    -webkit-transform: scale(1);
    opacity: 1;
  }

  /* line 1018, lotus.scss */
  100% {
    -webkit-transform: scale(0.75);
    opacity: 0.7;
  }
}

/* line 1026, lotus.scss */
.yellowButton,
.greyButton,
.yellowSubmit {
  font-family: dinlight;
  display: block;
  height: 32px;
  line-height: 30px;
  padding: 0;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0.8em;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
/* line 1037, lotus.scss */
.yellowButton:active,
.greyButton:active,
.yellowSubmit:active {
  outline: none;
}
/* line 1041, lotus.scss */
.yellowButton:hover, .yellowButton.yellowOn,
.greyButton:hover,
.greyButton.yellowOn,
.yellowSubmit:hover,
.yellowSubmit.yellowOn,
#worthy .buttonWrapper .greyButton:hover{
  background-color: #ffe800;
  color: #050505;
}

/* line 1046, lotus.scss */
.yellowButton {
  border: 2px solid #ffe800;
  background-color: #0b0b0c;
  margin-bottom: 11px;
}

/* line 1052, lotus.scss */
.greyButton {
  background-color: #464540;
}

/* line 1057, lotus.scss */
.yellowSubmit {
  border: 2px solid #ffe800;
  background-color: #050505;
}
.deEmphasise{
  border-color:#5e5e5e;
}

.shareView .registerButton{
  width:260px;
  display:block;
  text-align:center;
  padding-left:10px;
  padding-right:10px;
  margin:0 auto;
}
/* line 1062, lotus.scss */
.genericForm {
  width: 80%;
}
@media screen and (max-width: 920px) {
  /* line 1062, lotus.scss */
  .genericForm {
    width: 95%;
  }
}
/* line 1067, lotus.scss */
.genericForm .viewBox {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 30px 80px 30px;
}
/* line 1071, lotus.scss */
.genericForm .viewBox form {
  position: relative;
}
/* line 1075, lotus.scss */
.genericForm .viewBox h2,
.genericForm .viewBox p.copy {
  width: 100%;
  margin: 0 0 10px 0;
  text-align: center;
}
/* line 1080, lotus.scss */
.genericForm .viewBox h2 {
  font-size: 1.5em;
}
/* line 1083, lotus.scss */
.genericForm .viewBox .mandatory {
  position: absolute;
  right: 10px;
  top: 10px;
  margin: 0;
}
@media screen and (max-width: 920px) {
  /* line 1083, lotus.scss */
  .genericForm .viewBox .mandatory {
    position: static;
    text-align: right;
    width: 100%;
  }
}

/* line 1097, lotus.scss */
p.error,
p.generalError {
  color: #ff0000;
  margin: 0;
}

/* line 1101, lotus.scss */
p.generalError {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

/* line 1108, lotus.scss */
p.error {
  position: absolute;
  right: -200px;
  width: 180px;
  top: 8px;
  font-size: 0.8em;
  font-family: dinlight;
  text-align: left;
}
/* line 1117, lotus.scss */
p.error span:after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #ff0000;
  content: "";
  height: 0px;
  width: 0px;
  margin-top: -2px;
  position: absolute;
  left: -10px;
  top: 25%;
}
@media screen and (max-width: 920px) {
  /* line 1117, lotus.scss */
  p.error span:after {
    border-top: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #ff0000;
    left: 0px;
    top: -5px;
  }
}
@media screen and (max-width: 920px) {
  /* line 1108, lotus.scss */
  p.error {
    position: relative;
    left: 0px;
    top: 0px;
    margin-left: 40%;
    margin-top: 15px;
  }
}
@media screen and (max-width: 610px) {
  /* line 1108, lotus.scss */
  p.error {
    margin-left: 0%;
  }
}

/* line 1150, lotus.scss */
.field {
  position: relative;
  width: 500px;
  margin-bottom: 10px;
  margin-left: 15%;
  /* deal with chrome autfill changing field background colour to yellow */
  /*
  input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px $formGrey inset;
  }
  */
}
/* line 1158, lotus.scss */
.field label,
.field p.falseLabel,
.field input[type=text],
.field input[type=email] {
  font-size: 0.8em;
  font-family: dinlight;
  color: #fff;
}
/* line 1164, lotus.scss */
.field label,
.field p.falseLabel {
  display: inline-block;
  width: 190px;
  margin: 0;
}
@media screen and (max-width: 920px) {
  /* line 1164, lotus.scss */
  .field label,
  .field p.falseLabel {
    width: 40%;
  }
}
@media screen and (max-width: 610px) {
  /* line 1164, lotus.scss */
  .field label,
  .field p.falseLabel {
    margin-left: 0%;
    width: 100%;
    display: block;
  }
}
/* line 1178, lotus.scss */
.field input[type=text],
.field input[type=email] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 10px 7px 10px;
  display: inline-block;
  width: 248px;
  border-style: solid;
  border-width: 2px;
  border-color: #8a8a8b;
  background-color: #494848;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
/* line 1185, lotus.scss */
.field input[type=submit] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 1188, lotus.scss */
.field select {
  width: 248px;
}
@media screen and (max-width: 920px) {
  /* line 1150, lotus.scss */
  .fieldx {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 610px) {
  /* line 1150, lotus.scss */
  .field {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 1208, lotus.scss */
.implicitDisclaimer p {
  font-size: 0.7em;
  font-family: dinlight;
  color: #fff;
  margin-left: 190px;
}
@media screen and (max-width: 920px) {
  /* line 1208, lotus.scss */
  .implicitDisclaimer p {
    margin-left: 40%;
  }
}
@media screen and (max-width: 610px) {
  /* line 1208, lotus.scss */
  .implicitDisclaimer p {
    margin-left: 0%;
  }
}

/* line 1220, lotus.scss */
.cbfield {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 190px;
}
/* line 1223, lotus.scss */
.cbfield label {
  width: auto;
  font-size: 0.7em;
}
/* line 1227, lotus.scss */
.cbfield input[type=checkbox] {
  margin-right: 5px;
}

/* line 1233, lotus.scss */
.customCheckBox label input[type="checkbox"]:checked + .custom-checkbox:after {
  content: '\2714';
  font-size: 16px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}
/* line 1241, lotus.scss */
.customCheckBox label {
  margin-left:190px;
  padding-left:25px;
  padding-top:3px;
  position:relative;
  width:auto;
}
/* line 1243, lotus.scss */
.customCheckBox label input[type="checkbox"] + div.falseCheckbox {
  border-style: solid;
  border-width: 2px;
  border-color: #8a8a8b;
  background-color: #494848;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}
/* line 1248, lotus.scss */
.customCheckBox label:active input[type="checkbox"] + div.falseCheckbox, .customCheckBox label:active input[type="checkbox"]:checked + div.falseCheckbox,
.customCheckBox label input[type="checkbox"]:checked + div.falseCheckbox {
  background-color: #ffe800;
}
/* line 1251, lotus.scss */
.customCheckBox label div.falseCheckbox {
  position:absolute;
  left:0px;
  top:0px;
  display: inline-block;
  width: 16px;
  height: 16px;
  /* border-radius:10px; */
}
@media screen and (max-width: 920px) {
  /* line 1251, lotus.scss */
  .customCheckBox label{
    margin-left:40%;
  }
}
@media screen and (max-width: 610px) {
  /* line 1251, lotus.scss */
  .customCheckBox label{
    margin-left:0%;
  }
}
/* line 1266, lotus.scss */
.customCheckBox label input[type=checkbox] {
  display: none;
}

div.funkyDropDown p.error{
  display: none;
}
/* line 1272, lotus.scss */
form.ng-submitted.ng-invalid .generalError,
form.ng-submitted.ng-invalid div.funkyDropDown p.error.invalid{
  display: block;
}
/* line 1275, lotus.scss */
form.ng-submitted.ng-invalid .ng-invalid {
  border-color: #ff0000;
}
/* line 1278, lotus.scss */
form.ng-submitted.ng-invalid div.m-dropdown.ng-invalid div.dropdown-root {
  border-color: #ff0000;
}

/* line 1283, lotus.scss */
.buttons {
  padding-bottom: 40px;
}

/* line 1286, lotus.scss */
.gameForm .lb,
.gameForm .rb {
  width: auto;
  padding: 0 10px;
}

/* line 1290, lotus.scss */
.gameForm .lb {
  float: left;
}
/* line 1291, lotus.scss */
.gameForm .rb {
  float: right;
}
@media screen and (max-width: 610px) {
  .gameForm .lb,
  .gameForm .rb {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 245px;
    float: left;
  }
}

/* line 1295, lotus.scss */
.registerForm .yellowSubmit,
.testdriveForm .yellowSubmit {
  margin-left: 190px;
  padding: 0 10px;
  background-color: #ffe800;
  color: #050505;
}
@media screen and (max-width: 920px) {
  /* line 1295, lotus.scss */
  .registerForm .yellowSubmit,
  .testdriveForm .yellowSubmit {
    margin-left: 40%;
  }
}
@media screen and (max-width: 610px) {
  /* line 1295, lotus.scss */
  .registerForm .yellowSubmit,
  .testdriveForm .yellowSubmit {
    margin-left: 0%;
  }
}

/* line 1310, lotus.scss */
div.leaderboardScrollPane {
  height: 400px;
}

/* line 1313, lotus.scss */
div.leaderboard {
  width: 80%;
}
@media screen and (max-width: 480px) {
  /* line 1313, lotus.scss */
  div.leaderboard {
    width: 95%;
  }
  /* line 1317, lotus.scss */
  div.leaderboard p {
    padding: 0 10px;
  }
}
/* line 1322, lotus.scss */
div.leaderboard h2 {
  display: block;
  text-align: center;
  font-size: 1.5em;
  margin: 10px 0;
  font-family: dinbold;
}
/* line 1329, lotus.scss */
div.leaderboard p {
  display: block;
  text-align: center;
  font-size: 0.9em;
}
/* line 1334, lotus.scss */
div.leaderboard h3 {
  font-family: dinlight;
  margin: 0;
  font-size: 1.2em;
  text-transform: uppercase;
}
/* line 1340, lotus.scss */
div.leaderboard .lbBlock {
  padding: 10px 0;
  border-top: 1px solid #fff;
  width: 45%;
  margin-left: 20px;
}
@media screen and (max-width: 768px) {
  /* line 1340, lotus.scss */
  div.leaderboard .lbBlock {
    width: 90%;
    mergin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* line 1353, lotus.scss */
div.leaderboard .globalBlock {
  float: right;
  clear: none;
  margin-right: 20px;
  margin-left: 0px;
}
@media screen and (max-width: 768px) {
  /* line 1353, lotus.scss */
  div.leaderboard .globalBlock {
    float: none;
    clear: both;
    margin-left: auto;
    margin-right: auto;
  }
}

/* line 1366, lotus.scss */
table.leaderboard {
  font-size: 0.8em;
  width: 100%;
}
/* line 1369, lotus.scss */
table.leaderboard td {
  text-align: left;
  vertical-align: top;
}
/* line 1373, lotus.scss */
table.leaderboard td.time {
  text-align: right;
}

/* line 1378, lotus.scss */
.regionBlock td.name {
  width: 40%;
}
/* line 1379, lotus.scss */
.regionBlock td.sector {
  width: 40%;
}
/* line 1380, lotus.scss */
.regionBlock tr.time {
  width: 20%;
}
/* line 1381, lotus.scss */
.regionBlock tr.topScorer td {
  color: #ffe800;
}

/* line 1386, lotus.scss */
.globalBlock tr:first-child td {
  color: #ffe800;
}

/* line 1395, lotus.scss */
.gameStart h2, .gameStart p {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
/* line 1400, lotus.scss */
.gameStart h2 {
  min-height: 0;
}
/* line 1404, lotus.scss */
.gameStart a {
  margin: 0 auto;
}

/* line 1408, lotus.scss */
.overlay {
  position: absolute;
  left: 0px;
  top: 50px;
  width: 100%;
  height: auto;
  z-index: 1000;
}
/* line 1415, lotus.scss */
.overlay .relpos {
  position: relative;
  overflow:hidden;
}
/* line 1418, lotus.scss */
.overlay .closer {
  display: block;
  position: absolute;
  right: -1px;
  top: 0px;
  z-index: 20;
  width: 21px;
  height: 21px;
  background: url("../img/close.gif") left top no-repeat;
  text-indent: -9999em;
  display: none;
}

/* line 1431, lotus.scss */
#porsche {
  text-align: center;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #ffe800;
  width: 95%;
  top: 80px;
  left: 50%;
  margin-left: -47.5%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}
/* line 1441, lotus.scss */
#porsche h2 {
  font-size: 1em;
  /* font-family: dinmedium; */
  width: 90%;
  margin-bottom: 10px;
}
/* line 1447, lotus.scss */
#porsche .greyButton {
  line-height: 32px;
  padding: 0px 10px;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  font-size: 1.2em;
}

/* line 1457, lotus.scss */
#worthy {
  border: 4px solid #363535;
  width: 180%;
  left: 50%;
  top: -20px;
  margin-left: -90%;
  background: url("../img/worthy_bg.png") left center repeat-x;
}
@media screen and (max-width: 680px) {
  /* line 1457, lotus.scss */
  #worthy {
    width: 100%;
    margin-left: -51%;
  }
}
/* line 1468, lotus.scss */
#worthy .header {
  width: 80%;
  position: absolute;
  left: 50%;
  margin-left: -40%;
  top: 0px;
  z-index: 10;  
}
/* line 1475, lotus.scss */
#worthy .header h2 {
  width: auto;
  text-align: center;
  margin: 10px 0 10px 0;
  font-family: dinlight;
  font-size: 120%;
  font-weight: bold;
}
/* line 1480, lotus.scss */
#worthy .header p {
  margin: 0 auto;
  text-align: center;
  width: 90%;
  font-family: dinlight;
}
/* line 1486, lotus.scss */
#worthy .buttonWrapper {
  width:100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 10;
}
#worthy .buttonWrapper .sub{
  width: auto;
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}
/* line 1493, lotus.scss */
#worthy .buttonWrapper .greyButton,
#worthy .buttonWrapper .yellowButton {
  display: inline-block;
  width: auto;
  padding-right: 16px;
  padding-left: 16px;
  overflow:hidden;
  margin-bottom:0;
  margin-left:5px;
  margin-right:5px;
}
/* line 1499, lotus.scss */
#worthy .buttonWrapper .greyButton:first-child,
#worthy .buttonWrapper .yellowButton:first-child {
  /* margin-left: 12px; */
}
@media screen and (max-width: 680px) {
  /* line 1493, lotus.scss */
  #worthy .buttonWrapper .greyButton,
  #worthy .buttonWrapper .yellowButton {
    display: block;
    margin: 0 auto 10px auto;
  }
  /* line 1505, lotus.scss */
  #worthy .buttonWrapper .greyButton:first-child,
  #worthy .buttonWrapper .yellowButton:first-child {
    margin-left: 0px;
  }
}
/* line 1510, lotus.scss */
#worthy .buttonWrapper .greyButton {
  border:0;
  font-size:0.8em;
  background-color:#000;
}
/* line 1514, lotus.scss */
#worthy .picwrapper {
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}
@media screen and (max-width: 680px) {
  /* line 1514, lotus.scss */
  #worthy .picwrapper {
    top: 80px;
  }
}
/* line 1522, lotus.scss */
#worthy .picwrapper img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: auto;
}
/* line 1531, lotus.scss */
#worthy img.former {
  opacity: 0;
}

/* line 1536, lotus.scss */
div.m-dropdown {
  display: inline-block;
  width: 246px;
  position: relative;
  text-decoration: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

/* line 1545, lotus.scss */
div.m-dropdown div.dropdown-root {
  background-color: #494848;
  border-style: solid;
  border-width: 2px;
  border-color: #a1a1a1 #1a1a1a #383839 #747474;
  cursor: pointer;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}

/* line 1555, lotus.scss */
div.m-dropdown div.dw {
  display: none;
  position: absolute;
  left: 2px;
  right: 2px;
  top: 100%;
  z-index: 999999;
  width: 246px;
  max-height: 280px;
  overflow: scroll;
}

/* line 1567, lotus.scss */
div.m-dropdown ul.dropdown-options {
  background-color: #494848;
  display: none;
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  width: 246px;
  display: block;
}

/* line 1576, lotus.scss */
div.m-dropdown li.dropdown-option {
  cursor: pointer;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  position: relative;
  -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  width: 246px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1588, lotus.scss */
div.m-dropdown li.dropdown-option:last-child {
  border-bottom-width: 0px;
}

/* line 1592, lotus.scss */
div.m-dropdown div.dropdown-label,
div.m-dropdown li.dropdown-label {
  padding: 9px 10px 7px 10px;
  position: relative;
  font-size: 0.8em;
  font-family: dinlight;
}

/* line 1598, lotus.scss */
div.m-dropdown.dropdown-open div.dropdown-root {
  border-bottom-width: 2px;
}

/* line 1602, lotus.scss */
div.m-dropdown.dropdown-open div.dw {
  display: block;
}

/* line 1608, lotus.scss */
div.m-dropdown.dropdown-caret div.dropdown-root {
  padding-right: 30px;
}

/* line 1611, lotus.scss */
div.m-dropdown.dropdown-caret div.dropdown-root:after {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
  content: "";
  height: 0px;
  margin-top: -2px;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0px;
}

/* line 1625, lotus.scss */
div.m-dropdown div.dropdown-root div.dropdown-label.dropdown-placeholder {
  color: #999999;
}

/* line 1628, lotus.scss */
div.m-dropdown li.dropdown-option {
  border-top: 1px solid #9d9c9d;
  font-size: 0.8em;
  font-family: dinlight;
}

/* line 1633, lotus.scss */
div.m-dropdown li.dropdown-option.dropdown-label:hover {
  background-color: #ffe800;
  color: #000;
}

/* line 1637, lotus.scss */
div.m-dropdown li.dropdown-option.dropdown-selection {
  background-color: #ffe800;
  color: #000;
  font-family: dinbold;
  padding-left: 27px;
}

/* line 1643, lotus.scss */
div.m-dropdown li.dropdown-option.dropdown-selection:before {
  content: "\00BB";
  left: 10px;
  line-height: 32px;
  position: absolute;
  top: 0px;
}

/* line 1651, lotus.scss */
div.m-dropdown li.dropdown-option.group.all,
div.m-dropdown li.dropdown-option.group.none {
  border-left: 4px solid #CCCCCC;
  color: #333333;
}

/* line 1655, lotus.scss */
div.m-dropdown.ng-invalid-required div.dropdown-root div.dropdown-label {
  color: #ffffff;
  font-size: 0.8em;
  font-family: dinlight;
}

/* line 1660, lotus.scss */
.shareView {
  width: 75%;
}
/* line 1663, lotus.scss */
.shareView h2,
.shareView p.copy {
  width: 100%;
  margin: 0;
  text-align: center;
}
/* line 1668, lotus.scss */
.shareView h2 {
  font-size: 1.5em;
  margin: 10px 0;
}
/* line 1672, lotus.scss */
.shareView p {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}
/* line 1676, lotus.scss */
.shareView p span {
  color: #ffe800;
}
/* line 1680, lotus.scss */
.shareView img {
  margin: 10px auto;
  width: 20%;
  height: auto;
  display: block;
}
/* line 1686, lotus.scss */
.shareView .shareButtons {
  width: 50%;
  height: 40px;
  display: block;
  margin: 10px auto;
  position: relative;
}
/* line 1692, lotus.scss */
.shareView .shareButtons .yellowButton {
  position: absolute;
  top: 0px;
  width: auto;
  padding: 0 10px;
  display: inline-block;
}
/* line 1698, lotus.scss */
.shareView .shareButtons .yellowButton img {
  height: 20px;
  width: auto;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  top: -3px;
}
/* line 1710, lotus.scss */
.shareView .shareButtons .facebook {
  left: 0px;
}
/* line 1713, lotus.scss */
.shareView .shareButtons .twitter {
  right: 0px;
}
@media screen and (max-width: 700px) {
  /* line 1686, lotus.scss */
  .shareView .shareButtons {
    width: 60%;
    height:auto;
  }
  /* line 1718, lotus.scss */
  .shareView .shareButtons .yellowButton {
    display: block;
    position: static;
    margin: 0 auto 10px auto;
  }
}

/* jSCrollPane styles */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
/* line 1736, lotus.scss */
.jspContainer {
  overflow: hidden;
  position: relative;
}

/* line 1742, lotus.scss */
.jspPane {
  position: absolute;
}

/* line 1747, lotus.scss */
.jspVerticalBar {
  position: absolute;
  top: 0;
  right: 10px;
  width: 10px;
  height: 100%;
}

/* line 1754, lotus.scss */
.dw .jspVerticalBar {
  right: 0px;
}

/* line 1758, lotus.scss */
.jspCap {
  display: none;
}

/* line 1763, lotus.scss */
.jspTrack {
  position: relative;
  background: url("../img/leaderboard_scroll_track.png") left top repeat-y;
}

/* line 1769, lotus.scss */
.jspDrag {
  background-color: #ffe800;
  position: relative;
  top: 0;
  left: 0;
  cursor: pointer;
  border-radius: 5px;
  width: 10px;
}

/* line 1781, lotus.scss */
.jspArrow {
  background: #50506d;
  text-indent: -20000px;
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

/* line 1791, lotus.scss */
.jspArrow.jspDisabled {
  cursor: default;
  background: #80808d;
}

/* line 1797, lotus.scss */
.jspVerticalBar .jspArrow {
  height: 16px;
}

/* line 1802, lotus.scss */
.jspVerticalBar .jspArrow:focus {
  outline: none;
}

/* line 1807, lotus.scss */
.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
/* line 1815, lotus.scss */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

.thanksView h2{
  width:80%;
  text-align:center;
  margin:20px auto 20px auto;
}
.thanksView a.greyButton{
  display:table;
  width:160px;
  width:auto;
  height:auto;
  margin:0 auto;
  text-align:center;
}

.languageSelector{
  position:absolute;
  left:6px;
  top:6px;
  height:24px;
  width:156px;
  border:1px solid #fff;
}
@media screen and (max-width: 920px) {
  .languageSelector{
    left:50%;
    margin-left:-78px;
  }
}

.languageSelector .interior{
  position:relative;
}
.languageSelector ul{
  list-style-type:none;
  padding-left:0;
  margin:0;
  width:100%;
  position:absolute;left:-1px;top:-1px;
  background-color:#000;
  border:1px solid #fff;
  overflow:hidden;
  padding-bottom:2px;
}

.languageSelector ul li{padding:2px 2px 2px 2px;margin:0;width:auto;cursor:pointer;height:20px;margin:0;display:none;}
.languageSelector.open ul li{display:block;}
.languageSelector ul li div{display:inline-block;width:24px;height:18px;background:url('../img/flags.png') left 0px no-repeat;vertical-align:middle;margin:0 5px 0 0;}
#lang_en div{background-position:0px 0px;}
#lang_de div{background-position:0px -18px;}
#lang_fr div{background-position:0px -36px;}
#lang_it div{background-position:0px -54px;}
#lang_nl div{background-position:0px -72px;}
.languageSelector ul li p{display:inline-block;margin:0;color:#fff;line-height:1.1em;text-transform:uppercase;  font-family: dinmedium;color: #ffffff;text-decoration: none;vertical-align: middle;font-size: 0.7em;}
.languageSelector ul li.current{opacity:1;display:block;}
.languageSelector ul li.current:after{
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ffffff;
  content: "";
  height: 0px;
  margin-top: -2px;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0px;
}
.languageSelector.open ul li.current:after{
  border:0;
}
.languageSelector.open ul li.current p{
  padding-left:8px;
  position:relative;
}
.languageSelector ul li.current p:before{
}
.languageSelector.open ul li.current p:before{
  content: "\00BB";
  position:absolute;
  left:0px;
  top:-1px;
}
.languageSelector ul li:hover{}
.nlButtonFix{
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-left:20px;
  padding-right:20px;
  height:auto;
  line-height:1.7em;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}
