/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/* ==========================================================================
   Remove dotted borders on links
   ========================================================================== */


:active
{
outline: none;
}

:focus {
  -moz-outline-style: none;
}


/* You Will See This: */

:-moz-any-link:focus {
  outline: 1px dotted invert;
}

/* Change It To This: */

:-moz-any-link:focus {
  outline: none;
}








/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/*********** Photog WEBSITE CSS = AUTHOR: ? **************/

/**********

font-family: "brandon-grotesque",sans-serif;

*************/

@mixin main-font { font-family: "brandon-grotesque",sans-serif;}
@mixin trans { -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;}
@mixin opacitytrans($duration) { -webkit-transition: opacity $duration ease;
-moz-transition: opacity $duration ease;
-ms-transition: opacity $duration ease;
-o-transition: opacity $duration ease;
transition: opacity $duration ease;}
@mixin widthheightrans($duration) {
    -webkit-transition: width $duration ease, height $duration ease;
    -moz-transition: width $duration ease, height $duration ease;
    -ms-transition: width $duration ease, height $duration ease;
    -o-transition: width $duration ease, height $duration ease;
    transition: width $duration ease, height $duration ease;
}
@mixin heightrans($duration) {
    -webkit-transition: height $duration ease;
    -moz-transition: height $duration ease;
    -ms-transition: height $duration ease;
    -o-transition: height $duration ease;
    transition: height $duration ease;
}
@mixin colortrans($duration) {
    -webkit-transition: color $duration ease;
    -moz-transition: color $duration ease;
    -ms-transition: color $duration ease;
    -o-transition: color $duration ease;
    transition: color $duration ease;
}
@mixin bgcolortrans($duration) {
    -webkit-transition: background-color $duration ease;
    -moz-transition: background-color $duration ease;
    -ms-transition: background-color $duration ease;
    -o-transition: background-color $duration ease;
    transition: background-color $duration ease;
}
@mixin lefttrans($duration) {
    -webkit-transition: left $duration ease;
    -moz-transition: left $duration ease;
    -ms-transition: left $duration ease;
    -o-transition: left $duration ease;
    transition: left $duration ease;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin rotate($angle,$originx,$originy){
    -webkit-transform: rotate($angle);
    -webkit-transform-origin: $originx $originy;
    -o-transform:rotate($angle); 
    -o-transform-origin: $originx $originy;
    transform: rotate($angle);
    transform-origin: $originx $originy;
}
@mixin translateX($x){
	-webkit-transform: translateX($x);
	-moz-transform:   translateX($x);
	-ms-transform:    translateX($x);
	-o-transform:     translateX($x);
	transform:        translateX($x);    
}
@mixin translateY($y){
	-webkit-transform: translateY($y);
	-moz-transform:   translateY($y);
	-ms-transform:    translateY($y);
	-o-transform:     translateY($y);
	transform:        translateY($y);    
}
@mixin translateXY($x,$y){
	-webkit-transform: translate($x,$y);
	-moz-transform:   translate($x,$y);
	-ms-transform:    translate($x,$y);
	-o-transform:     translate($x,$y);
	transform:        translate($x,$y);    
}

@mixin scaleXY($scale){
	-webkit-transform: scale($scale);
	-moz-transform:   scale($scale);
	-ms-transform:    scale($scale);
	-o-transform:     scale($scale);
	transform:        scale($scale);    
}
@mixin boxSizeBorderBox{
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin hexTexture{
    background:url('../img/hex.gif') left top repeat;
    -webkit-box-shadow: inset 0px 0px 67px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 67px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 67px 0px rgba(0,0,0,0.75);
}
@mixin fullWidth{
    width:100%;
}

@mixin dinLight{font-family: dinlight;}
@mixin dinMedium{font-family: dinmedium;}
@mixin dinBold{font-family: dinbold;}
@mixin formItemStyle{
    border-style:solid;
    border-width:2px;
    border-color:#8a8a8b;
    background-color:$formGrey;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
}
@mixin formItemStyleLight{
    border-style:solid;
    border-width:2px;
    border-color:#8a8a8b;
    background-color:$formGrey;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.5);
}

$formGrey : #494848;
$lotusYellow : #ffe800;
$break1 : 768px;
$break2 : 480px;
$gameBreak1 : 920px;
$formBreak1 : 680px;
$formBreak2 : 610px;

.opacity0{
    opacity:0;
}
.opacity1{
    opacity:1;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centreObject{
		min-height:none;
		min-width:none;
		width:100%;
		height:auto;
		position:relative;
		left:50%;
		top:50%;
		@include translateXY(-50%,-50%);
}
.fullwidth{
	width:100%;
	height:auto;
}
html,
body{
}
body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	margin:0;
	padding:0;
    background-color:#000;
    color:#fff;
    @include dinMedium;
}
a{
    color:#fff;
    text-decoartion:underline;
}
h1,h2,h3{
    font-weight:normal;
}
.canvas{
	position:relative;
	left:0px;
	top:0px;
	max-width:1200px;
    width:100%;
    margin:0 auto;
}
.dropShadow{
	margin:0;
	padding:0%;
    @include boxSizeBorderBox;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.75);
}
header.page{
    overflow:visible;
    float:left;
    width:100%;
    position:relative;
    background:url('../img/header_bg.gif') left bottom repeat-x #2c2c2b;
    min-height:76px;
    margin-bottom:30px;
    mobileMenuToggle{
        display:none;
    }
    .lotusLogo{
        position:absolute;
        bottom:-25px;
        left:50%;
        margin-left:-39px;
    }
    nav{
        width:100%;
        ul{
            width:100%;
            list-style-type:none;
            padding:0;
			margin:0;
            li{
                width:25%;
                display:inline-block;
                text-align:center;
                a{  
                    font-family:dinmedium;
                    outline: 0;
                    display:inline-block;
                    height:76px;
                    text-align:center;
                    @include boxSizeBorderBox;
					padding-top:30px;
                    width:auto;
                    margin:0 auto;
                    color:#ffffff;
                    text-decoration:none;
                    vertical-align:middle;
                    font-size:0.7em;
                    &:hover{
                        border-bottom:9px solid $lotusYellow;
                    }
                    &.current{
                        border-bottom:9px solid $lotusYellow;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 640px) {
    header.page{
        &.open nav{height:120px;}
        .mobileMenuToggle{
            display:block;
            width:30px;
            margin:5px auto 0 auto;
            div{
                display:block;
                width:30px;
                height:5px;
                background-color:$lotusYellow;;
                margin-bottom:3px;
            }
        }
        overflow:visible;
        float:left;
        nav{
            @include heightrans(0.3s);
            overflow:hidden;
            margin-bottom:65px;
            height:0px;        
            ul{
                li{
                    width:100%;
                    display:block;
                    height:auto;
                    a{
                        font-size:1.2em;
                        display:block;
                        width:100%;
                        height:auto;
                        padding-top:5px;
                        &:hover{
                            border-bottom:0;
                        }
                    }
                }
            }
        }
    }
}
.intro{
    width:80%;
    margin:0 auto 15px auto;
    text-align:center;
    h1{
        margin:0 0 10px 0;
        font-size:2.4em;
        line-height:1em;
        span{
            color:#c8c8c8;
            font-family:dinlight;
            font-size:60%;
            line-height:80%;
        }
    }
    h2{
        margin:0 0 10px 0;
        font-size:1.3em;
        line-height:1em;
        letter-spacing:2px;
        span.hashtag{
            color:#737373;
        }
    }
    p{
        font-family:dinlight;
        font-size:0.78em;
        line-height:1.6em;
        text-align:center;
        margin:0;
        strong{
            font-weight:normal;
            font-family:dinbold;
        }
    }
}
.viewWrapper{
    position:relative;
    z-index:1;
    width:892px;
    margin: 0 auto;
    @media screen and (max-width: $gameBreak1) {
        width:90%;
    }

   .viewBox{
        position:static;
        width:100%;    
        @include boxSizeBorderBox;
        border:4px solid #383838;    
        @include hexTexture;
        padding-bottom:120px;
    }
    .gradientFade{
        position:absolute;
        bottom:0px;
        left:0px;
        width:100%;
        height:80px;
        z-index:10;
        background:url('../img/black_gradient2.png') left bottom repeat-x;
    }
}
.shareBox{
    width:100%;
    position:relative;
    img{
        width:100%;
        height:auto;
    }
    .shareControl{
        position:absolute;
        left:50%;
        margin-left:-50px;
        bottom:29px;
        width:100px;
        text-align:center;
        h2{
            margin:0;
            font-size:100%;
        }
        ul{
            margin:0;
            list-style-type:none;
            padding:0;
            width:100%;
            li{
                width:50%;
                display:inline-block;
                a{
                    outline:none;
                    display:block;width:100%;
                    text-indent:-9999em;
                    height:20px;
                    background-position:center top;
                    background-repeat:no-repeat;
                }
                &.facebook{
                    a{
                        background-image:url('../img/facebook.png');
                    }
                }
                &.twitter{
                    a{
                        background-image:url('../img/twitter.png');
                    }
                }
            }
        }
        @media screen and (max-width: 700px) {
            position:static;
            left:0;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:10px;
        }
    }
}
footer.page{
    width:100%;
    height:160px;
    background:url('../img/footer_bg.png') left top repeat-x;
    @include boxSizeBorderBox;
    padding-top:17px;
    img,p,ul{
        margin:0 auto;
        display:block;
    }
    p,ul{
        width:270px;
        font-size:0.7em;
    }
    p{
        text-align:center;
        margin-bottom:10px;
    }
    ul{
        list-style-type:none;
        padding:0;
        width:300px;
        li{
            display:inline-block;
            width:49%;
            @include boxSizeBorderBox;
            &.ll{
                text-align:right;
                padding-right:10px;
                border-right:1px solid #fff;
            }
            &.rl{
                text-align:left;
                padding-left:10px;
            }
            a{
                text-decoration:none;
                &:hover{
                    text-decoration:underline;
                }
            }
        }
}
}
.languageSelect{
    .enabled{
        background-color:#00ff00;
    }
}
.game{
    h2{
        font-size:0.9em;
        margin-top:10px;
        margin-bottom:0;
        padding-top:5px;
        font-family:dinlight;
        text-align:center;
        width:320px;
        display:block;
        margin-left:auto;
        margin-right:auto;
        line-height:150%;
        clear:none;
        &.spacer{
            min-height:58px;
        }
        span{
            font-family:dinmedium;
            font-size:200%;
            line-height:100%;
        }
    }
    .leftCol,
    .rightCol{
        position:absolute;
        width:226px;
    }
    .leftCol{
        left:32px;
        top:38px;
    }
    .rightCol{
        right:32px;
        top:78px;
    }
    @media screen and (max-width: $gameBreak1) {
        .leftCol,
        .rightCol{
            position:static;
            left:0px;
            top:0px;
            width:320px;
            margin-left:auto;
            margin-right:auto;
        }
        .leftCol{
            left:0px;
        }
        .rightCol{
            margin-top:10px;
            right:0px;
            .evoraLogo{
                display:block;
                margin-left:auto;
                margin-right:auto;

            }
        }
    }
    @media screen and (max-width: 500px) {
        width:100%;
        margin-left:0;
        margin-right:0;
       .viewBox{
            border:0;
       }

    }
    .yellowButton{
        width:226px;
        margin-left:auto;
        margin-right:auto;
    }
}
.instructions{
    width:226px;
    @include boxSizeBorderBox;
    margin-bottom:10px;
    h3{
        color:#c1c1c1;
        font-size:0.8em;
        margin:0 0 5px 0;
    }
    p{
        font-family:dinlight;
        color:#fff;
        font-size:0.78em;
        margin:0;
        span{
            color:$lotusYellow;
        }
    }
    @media screen and (max-width: $gameBreak1) {
        width:100%;
    }
}
div.score{
    background-color:#050505;
    border:1px solid #383838;
    padding:12px 0 2px 0;
    @include boxSizeBorderBox;
    margin-bottom:10px;
    h3{
        margin:0;
        font-size:0.8em;
        line-height:0.8em;
        text-align:center;
        font-family:dinlight;
    }
    p{
        font-family:dinlight;
        text-align:center;
        margin:0 0 -10px 0;
        padding:0;
        font-size:3.8em;
        line-height:1.2em;
        color:#979292;
        span{
            color:#fff;
        }
    }
    div.hr{
        height:3px;
        width:100%;
        margin:0 0 8px 0;
        padding:0;
        background:url('../img/dot.png') left top repeat-x #050505;
        hr{display:none;}
    }
    @media screen and (max-width: $gameBreak1) {
    }
}
.arenaWrapper { 
    width:320px;
    height:320px;
    border:4px solid #383838;
    margin:0 auto;
    -webkit-box-shadow: inset 0px 0px 67px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 67px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 67px 0px rgba(0,0,0,0.75);
    position:relative;
}
.arena { 
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display:block;
    width:320px;
    height:320px;
    border:none;
    z-index:1000;
    position:relative;
}
.playerMarker{
    position:absolute;
    z-index:10;
    left:77px;
    top:66px;
    background:url('../img/starter_black.png') left top no-repeat;
    font-family:dinlight;
    font-size:0.8em;
    color:#fff;
    text-align:center;
    width:200px;
    height:81px;
    @include boxSizeBorderBox;
    padding:17px 10px 0;
}
.object{
    position:absolute;
    z-index:0;
    -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
    border:1px solid #d4d2d2;
}
#box{
    background-color:$lotusYellow;
}
.enemy{
    background-color:#0f0f0f;
    border-color:#848484;
}
.pulse{
    animation-name: pulse;
    -webkit-animation-name: pulse;  

    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.75);
        opacity: 0.7;       
    }
    50% {
        transform: scale(1);
        opacity: 1; 
    }   
    100% {
        transform: scale(0.75);
        opacity: 0.7;   
    }           
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(0.75);
        opacity: 0.7;       
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 1; 
    }   
    100% {
        -webkit-transform: scale(0.75);
        opacity: 0.7;   
    }           
}

.yellowButton,
.greyButton,
.yellowSubmit{
    @include dinLight;
    display:block;
    height:32px;
    line-height:30px;
    padding:0;
    @include boxSizeBorderBox;
    font-size:0.8em;
    color:#fff;
    text-decoration:none;
    text-align:center;
    &:active{
        outline: none;
    }
    &:hover,
    &.yellowOn{
        background-color:$lotusYellow;
        color:#050505;
    }
}
.yellowButton{
    border:2px solid $lotusYellow;
    background-color:#0b0b0c;
    margin-bottom:11px;
}

.greyButton{
    background-color:#464540;
    &:hover{
    }
}
.yellowSubmit{
    border:2px solid $lotusYellow;
    background-color:#050505;
}

.genericForm{
    width:80%;
    @media screen and (max-width: $gameBreak1) {
        width:95%;
    }
    .viewBox{
        @include boxSizeBorderBox;
        width:100%;
        padding:30px 30px 80px 30px;
        form{
            position:relative;
        }
        h2,
        p.copy{
            width:100%;
            margin:0 0 10px 0;
            text-align:center;
        }
        h2{
            font-size:1.5em;
        }
        .mandatory{
            position:absolute;
            right:10px;
            top:10px;
            margin:0;
            @media screen and (max-width: $gameBreak1) {
                position:static;
                text-align:right;
                width:100%;
            }
        }
   }
}
p.error,
p.generalError{
    color:#ff0000;
    margin:0;
}
p.generalError{
    width:100%;
    text-align:center;   
    margin-top:10px;
    margin-bottom:10px;
    display:none;
}
p.error{
    position:absolute;
    right:-200px;
    width:180px;
    top:8px;
    font-size:0.8em;
    font-family:dinlight;
    text-align:left;
    span{
        &:after{
            border-top: 5px solid transparent ;
            border-bottom: 5px solid transparent ;
            border-right: 5px solid #ff0000 ;
            content: "";
            height: 0px ;
            width: 0px ;
            margin-top: -2px;
            position: absolute;
            left: -10px ;
            top: 25% ;
            @media screen and (max-width: $gameBreak1) {
                border-top:0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid #ff0000;
                left: 0px ;
                top: -5px ;
            }
        }
    }
    @media screen and (max-width: $gameBreak1) {
        position:relative;
        left:0px;
        top:0px;
        margin-left:40%;
        margin-top:15px;
    }
    @media screen and (max-width: $formBreak2) {
        margin-left:0%;
    }
}

.field{
    position:relative;
    width:440px;
    margin-bottom:10px;
    margin-left:15%;
    label,
    p.falseLabel,
    input[type=text],
    input[type=email]{
        font-size:0.8em;
        font-family:dinlight;
        color:#fff;
    }
    label,
    p.falseLabel{
        display:inline-block;
        width:190px;
        margin:0;
        @media screen and (max-width: $gameBreak1) {
            width:40%;
        }
        @media screen and (max-width: $formBreak2) {
            margin-left:0%;
            width:100%;
            display:block;
        }
    }
    input[type=text],
    input[type=email]{
        @include boxSizeBorderBox;
        padding: 9px 10px 7px 10px ;
        display:inline-block;
        width:248px;
        @include formItemStyle;
    }
     input[type=submit]{
        @include boxSizeBorderBox;
     }
    select{
        width:248px;
    }
    /* deal with chrome autfill changing field background colour to yellow */
    /*
    input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px $formGrey inset;
    }
    */
    @media screen and (max-width: $gameBreak1) {
        margin-left:0;
        width:100%;
    }
    @media screen and (max-width: $formBreak2) {
        width:250px;
        margin-left:auto;
        margin-right:auto;
    }

}
.implicitDisclaimer p{
    font-size:0.7em;
    font-family:dinlight;
    color:#fff;
    margin-left:190px;
        @media screen and (max-width: $gameBreak1) {
            margin-left:40%;
        }
    @media screen and (max-width: $formBreak2) {
        margin-left:0%;
    }
}
.cbfield{
    @include boxSizeBorderBox;
    padding-left:190px;
    label{
        width:auto;
        font-size:0.7em;
    }
    input[type=checkbox]{
        margin-right:5px;
    }
    
}
.customCheckBox{
     label input[type="checkbox"]:checked + .custom-checkbox:after {
        content: '\2714';
        font-size: 16px;
        position: absolute;
        top: 0px;
        left: 3px;
        color: #99a1a7;
    }
    label{
        width:100%;
        input[type="checkbox"] + div.falseCheckbox{
            @include formItemStyleLight;
        }
        &:active input[type="checkbox"] + div.falseCheckbox,
        &:active input[type="checkbox"]:checked + div.falseCheckbox,
        input[type="checkbox"]:checked + div.falseCheckbox{
            background-color:$lotusYellow;
        }
        div.falseCheckbox{
            margin-left:190px;
            display:inline-block;
            width:16px;
            height:16px;
            /* border-radius:10px; */
            margin-right:5px;
            vertical-align:middle;
            @media screen and (max-width: $gameBreak1) {
                margin-left:40%;
            }
            @media screen and (max-width: $formBreak2) {
                margin-left:0%;
            }
        }
        input[type=checkbox]{
            display:none;
        }
    }
}
form.ng-submitted.ng-invalid{
    .generalError{
        display:block;
    }
    .ng-invalid{
        border-color:#ff0000;
    }
    div.m-dropdown.ng-invalid div.dropdown-root{
        border-color:#ff0000;
    }
}

.buttons{padding-bottom:40px;}
.gameForm{
    .lb,
    .rb{
        width:auto;
        padding:0 10px;
    }
    .lb{float:left;}
    .rb{float:right;}
}
.registerForm,
.testdriveForm{
    .yellowSubmit{
        margin-left:190px;
        padding:0 10px;
        background-color:$lotusYellow;
        color:#050505;
        @media screen and (max-width: $gameBreak1) {
            margin-left:40%;
        }
        @media screen and (max-width: $formBreak2) {
            margin-left:0%;
        }

    }
}

div.leaderboardScrollPane{
    height:400px;
}
div.leaderboard{
    width:80%;
    @media screen and (max-width: $break2) {
       width:95%;
       p{
        padding:0 10px;
       }
    }

    h2{
        display:block;
        text-align:center;
        font-size:1.5em;
        margin:10px 0;
        font-family:dinbold;
    }
    p{
        display:block;
        text-align:center;
        font-size:0.9em;
    }
    h3{
        font-family:dinlight;
        margin:0;
        font-size:1.2em;
        text-transform:uppercase;
    }
    .lbBlock{
        padding:10px 0;
        border-top:1px solid #fff;
        width:45%;
        margin-left:20px;
        @media screen and (max-width: $break1) {
            width:90%;
            mergin-bottom:20px;
            margin-left:auto;
            margin-right:auto;
        }

    }
    .globalBlock{
        float:right;
        clear:none;
        margin-right:20px;
        margin-left:0px;
        @media screen and (max-width: $break1) {
            float:none;
            clear:both;
            margin-left:auto;
            margin-right:auto;
        }
    }
}
table.leaderboard{
    font-size:0.8em;
    width:100%;
    td{
        text-align:left;
        vertical-align:top;
    }
    td.time{
        text-align:right;
    }
}
.regionBlock{
    td.name{width:40%;}
    td.sector{width:40%;}
    tr.time{width:20%;}
    tr.topScorer td{
        color:$lotusYellow;
    }
}
.globalBlock{
    tr:first-child td{
        color:$lotusYellow;
    }
    td.name{}
    td.region{}
    td.sector{}
    tr.time{}
}
.gameStart{
    h2,p{
        width:90%;
        margin:0 auto;
        text-align:center;
    }
    h2{
        min-height:0;
    }
    p{}
    a{
        margin:0 auto;
    }
}
.overlay{
    position:absolute;
    left:0px;
    top:50px;
    width:100%;
    height:auto;
    z-index:1000;
    .relpos{
        position:relative;
    }
    .closer{
        display:block;
        position:absolute;
        right:-1px;
        top:0px;
        z-index:20;
        width:21px;
        height:21px;
        background:url('../img/close.gif') left top no-repeat;
        text-indent:-9999em;
        display:none;
    }
}
#porsche{
    text-align:center;
    @include boxSizeBorderBox;
    border:2px solid $lotusYellow;
    width:95%;
    top:80px;
    left:50%;
    margin-left:-47.5%;
    padding:20px;
    background-color:rgba(0, 0, 0, 0.7);
    h2{
        font-size:1em;
        font-family:dinmedium;
        width:90%;
        margin-bottom:10px;
    }
    .greyButton{
        line-height:32px;
        padding:0px 10px;
        display:inline-block;
        width:auto;
        margin:0 auto;
        font-size:1.2em;
    }
    
}
#worthy{
    border:4px solid #363535;
    width:180%;
    left:50%;
    top:-20px;
    margin-left:-90%;
    background:url('../img/worthy_bg.png') left center repeat-x;
    @media screen and (max-width: 680px) {
        width:100%;
        margin-left:-51%;
    }
    .header{
        width:80%;
        position:absolute;
        left:50%;
        margin-left:-40%;
        top:0px;
        z-index:10;
        h2{
            width:auto;
            text-align:center;
            margin:10px 0 10px 0;
            font-family: dinlight; 
        }
        p{
            margin:0 auto;
            text-align:center;
            width:70%;
            font-family: dinlight;
        }
    }
    .buttonWrapper{
        width:100%;
        position:absolute;
        left:0px;
        bottom:0px;
        z-index:10;
        .greyButton,
        .yellowButton{
            display:inline-block;
            margin-right:10px;
            width:auto;
            padding-right:16px;
            padding-left:16px;
            &:first-child{
                margin-left:12px;
            }
            @media screen and (max-width: 680px) {
                display:block;
                margin:0 auto 10px auto;
                &:first-child{
                    margin-left:0px;
                }
            }
        }
        .greyButton{
            border:2px solid #464540;
        }
    }
    .picwrapper{
        width:100%;
        position:absolute;
        left:0px;
        top:0px;
        @media screen and (max-width: 680px) {
            top:80px;
        }
        img{
            position:absolute;
            left:0px;
            top:0px;
            z-index:-1;
            width:100%;
            height:auto;
        }
    }
    img.former{
        opacity:0;
    }
}

div.m-dropdown {
    display:inline-block;
    width:246px;
    position: relative ;
    text-decoration: none ;
    user-select: none ;
    -moz-user-select: none ;
    -webkit-user-select: none ;
}
div.m-dropdown div.dropdown-root {
  background-color: $formGrey;
  border-style:solid;
  border-width:2px;
  border-color:#a1a1a1 #1a1a1a #383839 #747474;
  cursor: pointer ;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
}
div.m-dropdown div.dw{
    display:none;
    position: absolute;
    left: 2px ;
    right: 2px ;
    top: 100% ;
    z-index: 999999;
    width:246px;
    max-height:280px;
    overflow:scroll;
    
}
div.m-dropdown ul.dropdown-options {
  background-color: $formGrey;
  display: none ;
  list-style-type: none ;
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
  width:246px;
  display: block ;
}
div.m-dropdown li.dropdown-option {
    cursor: pointer ;
    margin: 0px 0px 0px 0px ;
    padding: 0px 0px 0px 0px ;
    position: relative ;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    width:246px;
    @include boxSizeBorderBox;

}
div.m-dropdown li.dropdown-option:last-child {
  border-bottom-width: 0px ;
}
div.m-dropdown div.dropdown-label,
div.m-dropdown li.dropdown-label {
  padding: 9px 10px 7px 10px ;
  position: relative ;
  font-size:0.8em;
  font-family:dinlight;
}
div.m-dropdown.dropdown-open div.dropdown-root {
  border-bottom-width: 2px ;
}

div.m-dropdown.dropdown-open div.dw {
  display:block;
}
div.m-dropdown.dropdown-open ul.dropdown-options {
  
}
div.m-dropdown.dropdown-caret div.dropdown-root {
  padding-right: 30px ;
}
div.m-dropdown.dropdown-caret div.dropdown-root:after {
  border-left: 5px solid transparent ;
  border-right: 5px solid transparent ;
  border-top: 5px solid #ffffff ;
  content: "";
  height: 0px ;
  margin-top: -2px;
  position: absolute ;
  right: 10px ;
  top: 50% ;
  width: 0px ;
}
div.m-dropdown {
}
div.m-dropdown div.dropdown-root div.dropdown-label.dropdown-placeholder {
  color: #999999 ;
}
div.m-dropdown li.dropdown-option{
    border-top:1px solid #9d9c9d;
    font-size:0.8em;
    font-family:dinlight;
}
div.m-dropdown li.dropdown-option.dropdown-label:hover {
  background-color: $lotusYellow;
  color:#000;
}
div.m-dropdown li.dropdown-option.dropdown-selection {
  background-color: $lotusYellow;
  color:#000;
  font-family:dinbold;
  padding-left: 27px ;
}
div.m-dropdown li.dropdown-option.dropdown-selection:before {
  content: "\00BB";
  left: 10px ;
  line-height: 32px ;
  position: absolute ;
  top: 0px ;
}
div.m-dropdown li.dropdown-option.group.all,
div.m-dropdown li.dropdown-option.group.none {
  border-left: 4px solid #CCCCCC ;
  color: #333333 ;
}
div.m-dropdown.ng-invalid-required div.dropdown-root div.dropdown-label {
  color: #ffffff ;
  font-size:0.8em;
  font-family:dinlight;
}
.shareView{
    width:75%;
    h2,
    p.copy{
        width:100%;
        margin:0;
        text-align:center;
    }
    h2{
        font-size:1.5em;
        margin:10px 0;
    }
    p{
        width:80%;
        text-align:center;
        margin:0 auto;
        span{
            color:$lotusYellow; 
        }
    }
    img{
        margin:10px auto;
        width:20%;
        height:auto;
        display:block;
    }
    .shareButtons{
        width:50%;
        height:40px;
        display:block;
        margin:10px auto;
        position:relative;
        .yellowButton{
            position:absolute;
            top:0px;
            width:120px;
            padding:0 10px;
            display:inline-block;
            img{
                height:20px;
                width:auto;
                display:inline-block;
                margin:0 5px;
                position:relative;
                top:-3px;
            }
        }
        .facebook,
        .twitter{
        }
        .facebook{
            left:0px;
        }
        .twitter{
            right:0px;
        }
        @media screen and (max-width: 700px) {
            width:100%;
            .yellowButton{
                display:block;
                position:static;
                margin:0 auto 10px auto;
            }
        }
    }
}



/* jSCrollPane styles */
/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
    overflow: hidden;
    position: relative;
}

.jspPane
{
    position: absolute;
}

.jspVerticalBar
{
    position: absolute;
    top: 0;
    right: 10px;
    width: 10px;
    height: 100%;
}
.dw .jspVerticalBar{
    right:0px;
}
.jspCap
{
    display: none;
}

.jspTrack
{
    position: relative;
    background:url('../img/leaderboard_scroll_track.png') left top repeat-y;
}

.jspDrag
{
    background-color: $lotusYellow;;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    border-radius:5px;
    width:10px;
}


.jspArrow
{
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.jspArrow.jspDisabled
{
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow
{
    height: 16px;
}

.jspVerticalBar .jspArrow:focus
{
    outline: none;
}

.jspCorner
{
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
    margin: 0 -3px 0 0;
}

