div.m-dropdown {
    display:inline-block;
    width:246px;
    position: relative ;
    text-decoration: none ;
    user-select: none ;
    -moz-user-select: none ;
    -webkit-user-select: none ;
}
div.m-dropdown div.dropdown-root {
  background-color: $formGrey;
  border-style:solid;
  border-width:2px;
  border-color:#a1a1a1 #1a1a1a #383839 #747474;
  cursor: pointer ;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
}
div.m-dropdown ul.dropdown-options {
  background-color: $formGrey;
  display: none ;
  list-style-type: none ;
  margin: 0px 0px 0px 0px ;
  padding: 0px 0px 0px 0px ;
  position: absolute ;
  left: 2px ;
  right: 2px ;
  top: 100% ;
  z-index: 999999;

  width:256px;
  background-color:#ff0000;
  max-height:280px;
  overflow:scroll;
}
div.m-dropdown li.dropdown-option {
    cursor: pointer ;
    margin: 0px 0px 0px 0px ;
    padding: 0px 0px 0px 0px ;
    position: relative ;
    -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 8px 0px rgba(0,0,0,0.75);
    width:246px;
    @include boxSizeBorderBox;

}
div.m-dropdown li.dropdown-option:last-child {
  border-bottom-width: 0px ;
}
div.m-dropdown div.dropdown-label,
div.m-dropdown li.dropdown-label {
  padding: 9px 10px 7px 10px ;
  position: relative ;
  font-size:0.8em;
  font-family:dinlight;
}
div.m-dropdown.dropdown-open div.dropdown-root {
  border-bottom-width: 2px ;
}
div.m-dropdown.dropdown-open ul.dropdown-options {
  display: block ;
}
div.m-dropdown.dropdown-caret div.dropdown-root {
  padding-right: 30px ;
}
div.m-dropdown.dropdown-caret div.dropdown-root:after {
  border-left: 5px solid transparent ;
  border-right: 5px solid transparent ;
  border-top: 5px solid #ffffff ;
  content: "";
  height: 0px ;
  margin-top: -2px;
  position: absolute ;
  right: 10px ;
  top: 50% ;
  width: 0px ;
}
div.m-dropdown {
}
div.m-dropdown div.dropdown-root div.dropdown-label.dropdown-placeholder {
  color: #999999 ;
}
div.m-dropdown li.dropdown-option{
    border-top:1px solid #9d9c9d;
    font-size:0.8em;
    font-family:dinlight;
}
div.m-dropdown li.dropdown-option.dropdown-label:hover {
  background-color: $lotusYellow;
  color:#000;
}
div.m-dropdown li.dropdown-option.dropdown-selection {
  background-color: $lotusYellow;
  color:#000;
  font-family:dinbold;
  padding-left: 27px ;
}
div.m-dropdown li.dropdown-option.dropdown-selection:before {
  content: "\00BB";
  left: 10px ;
  line-height: 32px ;
  position: absolute ;
  top: 0px ;
}
div.m-dropdown li.dropdown-option.group.all,
div.m-dropdown li.dropdown-option.group.none {
  border-left: 4px solid #CCCCCC ;
  color: #333333 ;
}
div.m-dropdown.ng-invalid-required div.dropdown-root div.dropdown-label {
  color: #ffffff ;
  font-size:0.8em;
  font-family:dinlight;
}
