<!doctype html>
<html xmlns:ng="http://angularjs.org" class="no-js" id="ng-app" ng-app="statemachine">
<head>
<title>{{'META_DESCRIPTION' | translate}}</title>

<meta name="description" content="{{'META_DESCRIPTION' | translate}}" /> 
<meta name="keywords" content="{{'META_KEYWORDS' | translate}}" /> 

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">

<meta property="og:title" content="#itsnotforyou – the Lotus Evora Agility Test"/>
<meta property="og:url" content="http://lotuscars.com/itsnotforyou"/>
<meta property="og:site_name" content="#itsnotforyou – the Lotus Evora Agility Test"/>
<meta property="og:description" content="#itsnotforyou – the Lotus Evora Agility Test"/>
<meta property="fb:app_id" content="705084709533944" />

<link href="css/normalize.css" rel="stylesheet" type="text/css" media="all">
<link href="css/lotus.css" rel="stylesheet" type="text/css" media="all">
<link href="css/din_font.css" rel="stylesheet" type="text/css" media="all">
<script type="text/javascript" src="bower_components/modernizr/modernizr.js"></script>
</head>

<body>
	<div class="canvas">
		<header class="page mobileMenu">
			<a data-ui-sref="game"><img class="lotusLogo" alt="lotus" src="img/lotus_logo.png"></a>
			<!--
			<nav ng-controller="languageSelect" class="languageSelect">
		      <button ng-click="changeLanguage('de')" translate="BUTTON_LANG_DE" ng-class="{enabled:translateSettings.currentLanguage == 'de'}"></button>
		      <button ng-click="changeLanguage('en')" translate="BUTTON_LANG_EN" ng-class="{enabled:translateSettings.currentLanguage == 'en'}"></button>
		      <button ng-click="changeLanguage('es')" translate="BUTTON_LANG_ES" ng-class="{enabled:translateSettings.currentLanguage == 'es'}"></button>
		      <button ng-click="changeLanguage('fr')" translate="BUTTON_LANG_FR" ng-class="{enabled:translateSettings.currentLanguage == 'fr'}"></button>
			</nav>
			-->
			<a href="" class="mobileMenuToggle"><div class="stripe1"></div><div class="stripe2"></div><div class="stripe3"></div></a>
			<nav>
				<uL><li><a data-ui-sref="game">{{'NAV_AGILITY' | translate}}</a></li><li><a data-ui-sref="leaderboard">{{'NAV_LEADERBOARDS' | translate}}</a></li><li><a href="http://www.lotuscars.com/lotus-evora-400" target="_blank">{{'NAV_INFO' | translate}}</a></li><li><a data-ui-sref="register">{{'NAV_REGISTER' | translate}}</a></li></ul>
			</nav>
		</header>

		<div class="content">
			<div class="intro">
				<h1><span>{{'game_header_pt1' | translate}}</span><br>{{'game_header_pt2' | translate}}</h1>
				<h2><span class="hashtag">#</span>ITSNOTFORYOU</h2>
				<p>{{'game_intro' | translate}}</p>
			</div>
			<div class="ui-view"></div>
		</div>

		<div class="shareBox">
			<img alt="" src="img/lotus_evora.jpg" >
			<div class="shareControl">
				<h2>{{'SHARE_BUTTON' | translate}}</h2>
				<ul><li class="facebook"><a href="http://www.facebook.com/LotusCars" target="_blank" title="share on facebook" class="sitefb">facebook</a></li><li class="twitter"><a href="http://twitter.com/grouplotusplc" target="_blank" title="share on twitter" class="sitetweet">twitter</a></li></ul>
			</div>
		</div>

		<footer class="page">
			<img alt="lotus" src="img/lotus_logo_small.png">
			<p>&copy; 2015 Group Lotus PLC</p>
			<ul><li class="ll"><a href="http://www.lotuscars.com/legal-terms-and-conditions" target="_blank">{{'NAV_FOOTER_TERMS' | translate}}</a></li><li class="rl"><a href="http://www.lotuscars.com/legal-privacy-policy" target="_blank">{{'NAV_FOOTER_PRIVACY' | translate}}</a></li></ul>
		</footer>
	</div>

    <script type="text/javascript" src="bower_components/es5shim/es5-shim.min.js"></script>
    <!-- [if lte IE 8 ]>
    <script type="text/javascript" src="bower_components/jspn3/json3.min.js"></script>
	<![endif]-->    
    
    <script type="text/javascript" src="bower_components/jquery_1.11.2/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="bower_components/jquery.event.move/jquery.event.move.js"></script>
    <script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="js/jquery.mobile.custom/jquery.mobile.custom.min.js"></script>
    <!-- install jQuery before angular to use full jQuery API as opposed to jQLite implementation in angular -->
    <script type="text/javascript" src="bower_components/angular_1.2.7/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular_1.2.7/angular-cookies.js"></script>
    <script type="text/javascript" src="bower_components/angular_1.2.7/angular-touch.js"></script>

    <script type="text/javascript" src="bower_components/angular_IE7/angular-ie7-support.min.js"></script>
    <!-- [if IE 7 ]>
	<![endif]-->    

    <script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-translate/angular-translate.min.js"></script>

    <script type="text/javascript" src="bower_components/css3-mediaqueries/css3-mediaqueries.js"></script>

    <script type="text/javascript" src="js/utility.js"></script>
    <script type="text/javascript" src="js/debug.js"></script>
    <script type="text/javascript" src="js/apps.js"></script>
    <script type="text/javascript" src="js/filter.js"></script>
    <script type="text/javascript" src="js/bnDropdown.js"></script>
    <script type="text/javascript" src="js/controllers.js"></script>
    <script type="text/javascript" src="js/services.js"></script>
    <script type="text/javascript" src="js/translations.js"></script>

    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1810534382505155',
          xfbml      : true,
          version    : 'v2.2'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
        window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>

    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<script>
    $('a.sitefb').click(function(e){
        e.preventDefault();
    });

    $('a.sitetweet').click(function(e){
      e.preventDefault();
    });
	</script>	
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-18619258-1', 'auto');
    ga('send', 'pageview');
  </script>

 <script type="text/javascript">
  var fby = fby || [];
  fby.push(['showTab', {id: '8859', position: 'right', color: '#006211'}]);
  (function () {
    var f = document.createElement('script'); f.type = 'text/javascript'; f.async = true;
    f.src = '//cdn.feedbackify.com/f.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(f, s);
  })();
  </script>

</body>
</html>