 
<p class="falseLabel">{{falseLabel.tr | translate}}:</p>
<div tabindex="{{tabIndex}}">
    <div class="dropdown-root">
        <div class="dropdown-label dropdown-placeholder">{{currentItem.tr | translate}}</div>
    </div>
    <div class="dw scroll-pane">
        <ul>
            <li ng-repeat="item in options track by item.id" data-tr="{{ item.tr }}" option="item" class="individual">{{ item.name }}</li>
        </ul>
    </div>
</div>
<p class="error" ng-show="selectionIsInvalid"><span>{{errorMessage | translate}}</span></p>
