<div class="viewWrapper genericForm gameForm">
    <div class="gradientFade"></div>
    <div class="viewBox">
        

        <h2>{{"POST_HEADER" | translate }}</h2>
        <p class="copy">{{"POST_COPY1" | translate }}</p>
          <form name="playerform" id="playerform" class="css-form" novalidate ng-submit="submitTheForm()" ng-class="{'ng-submitted':playerform.$submitted}">
              
            <p class="generalError">{{"POST_GENERAL_ERROR" | translate }}</p>
            <!-- TEST END -->
            <!--
            <div class="field">
                <label for="id">id</label><input type="text" ng-model="user.playerid" name="id" id="id" required="" />
            </div>
            <div class="field">
                <label for="time">time</label><input type="text" ng-model="user.time" name="time" id="time" required="" />
            </div>
            -->
            <!-- TEST END -->

              <div class="field">
                <label for="name">{{'name_label' | translate}}:</label><input tabindex="1" type="text" ng-model="user.name" name="name" id="name" required="" />
                <br />
                <div ng-show="playerform.$submitted || playerform.name.$touched">
                  <p class="error" ng-show="playerform.name.$error.required"><span>{{'name_error' | translate}}</span></p>
                </div>
            </div>  

            <div class="field">
                <label for="email">{{'email_label' | translate}}:</label><input tabindex="2" type="email" ng-model="user.email" name="email" id="email" required="" />
                <br />
                <div ng-show="playerform.$submitted || playerform.email.$touched">
                  <p class="error" ng-show="playerform.email.$error.required"><span>{{'email_error1' | translate}}</span></p>
                  <p class="error" ng-show="playerform.email.$error.email"><span>{{'email_error2' | translate}}</span></p>
                </div>
            </div>  

            <div class="field">
            <div lg-funky-drop-down labeltr="sector_label" placeholdertr="sector_label" errortr="sector_error" validation-flag="sectorIsInvalid" options="config.sector" ng-model="user.sector" caret="true" required="required" tab-index="3" suffix=":"></div>
            </div>

            <div class="field">
            <div lg-funky-drop-down labeltr="region_label" placeholdertr="region_label" errortr="region_error" validation-flag="regionIsInvalid" options="config.region" ng-model="user.region" caret="true" required="required" tab-index="4" suffix=":"></div>
            </div>
            <!--
            <div class="field">
                <p class="falseLabel">{{'sector_label' | translate}}:</p><div tabindex="3" bn-dropdown="user.sector" placeholdertr="sector_label" placeholder="{{placholderData.tr | translate}}" caret="true" required="required" ng-change="logChange( sector )">
                    <div class="dropdown-root">
                        <div class="dropdown-label dropdown-placeholder">{{placholderData.tr | translate}}</div>
                    </div>
                    <div class="dw scroll-pane">
                        <ul>
                            <li ng-repeat="item in config.sector track by item.id" data-tr="{{ item.tr }}" option="item" class="individual">{{ item.name }}</li>
                        </ul>
                    </div>
                </div>
                <p class="error" ng-show="sectorIsInvalid"><span>{{'sector_error' | translate}}</span></p>
            </div>
              
            <div class="field">
                <p class="falseLabel">{{'region_label' | translate}}</p><div tabindex="4" bn-dropdown="user.region" placeholdertr="sector_label" placeholder="{{placholderData.tr | translate}}" caret="true" required="required" ng-change="logChange( region )">
                    <div class="dropdown-root">
                        <div class="dropdown-label dropdown-placeholder">{{placholderData.tr | translate}}</div>
                    </div>
                    <div class="dw scroll-pane">
                        <ul>
                            <li ng-repeat="item in config.region track by item.id" data-tr="{{ item.tr }}" option="item" class="individual">{{ item.name }}</li>
                        </ul>
                    </div>
                </div>
                <p class="error" ng-show="regionIsInvalid"><span>{{'region_error' | translate}}</span></p>
            </div>
            -->
            <div class="field buttons">
                <input type="button" tabindex="5" ng-click="playAgain()" value="{{'PLAY_AGAIN' | translate}}" class="yellowButton lb" />
                <input type="submit" tabindex="6" value="{{'POST_SCORE' | translate}} →" class="yellowSubmit yellowOn rb" />
            </div>
          </form>

    </div>
</div>


