<div class="funkyDropDown">
	<p class="falseLabel">{{labeltr | translate}}{{suffix}}</p><div tabindex="{{tabIndex}}" class="m-dropdown dropdown-caret">
	    <div class="dropdown-root ">
	        <div class="dropdown-label">{{currentItem.tr | translate}}</div>
	    </div>
	    <div class="dw scroll-pane">
	        <ul class="dropdown-options">
	            <li ng-repeat="item in options track by item.id" data-tr="{{ item.tr }}" option="item" class="individual dropdown-option dropdown-label">{{ item.name }}</li>
	        </ul>
	    </div>
	</div>
	<p class="error"><span>{{errortr | translate}}</span></p>
</div>