<div class="viewWrapper game">
	<div class="viewBox">
		<h2 class="spacer">{{"GAME_HEADER_1" | translate}}<br><span>{{"GAME_HEADER_2" | translate}}</span></h2>
		<div class="leftCol">
			<div class="instructions">
				<h3>{{"INSTRUCTION_HEADER" | translate}}:</h3>
				<p>{{"INSTRUCTION_COPY1" | translate}}<span>{{"INSTRUCTION_COPY2" | translate}}</span>{{"INSTRUCTION_COPY3" | translate}}</p>
			</div>
			<div class="score">
				<h3>{{'YOUR_TIME' | translate}}:</h3>
				<p><span class="seconds">{{gameObject.gameTimerDisplay.seconds}}</span>.{{gameObject.gameTimerDisplay.milliseconds}}</p>
				<div class="hr"><hr></div>
				<h3>{{'WORLD_RECORD' | translate}}:</h3>
				<p><span class="seconds">{{topscore.seconds}}</span>.{{topscore.milliseconds}}</p>
			</div>
			<a data-ui-sref="leaderboard" class="yellowButton leaderboardButton deEmphasise">{{"BUTTON_VIEW_LEADERBOARDS" | translate}} →</a>			 
		</div>
		<div class="arenaWrapper">

			<div data-ng-controller="GameCtrl">
				<div class="arena" id="arenaX" >
					<div class="playerMarker"  data-ng-show="gameObject.showMarker">
						<p><span>{{"CLICK_HERE" | translate}}</span></p>
						<div class="tail">&nbsp;</div>
					</div>
					<div id="box" class="object pulse" data-ng-mousedown="startGame($event)" style="left:155px;top:155px;width:40px;height:40px;" data-ng-show="gameObject.showTokens">
				    &nbsp;
					</div>
					<div id="enemy0" class="object enemy" style="left:230px;top:40px;width:60px;height:50px;" data-ng-show="gameObject.showTokens">
					    &nbsp;
					</div>
					<div id="enemy1" class="object enemy" style="left:200px;top:280px;width:100px;height:20px;" data-ng-show="gameObject.showTokens">
					    &nbsp;
					</div>
					<div id="enemy2" class="object enemy" style="left:50px;top:240px;width:30px;height:60px;" data-ng-show="gameObject.showTokens">
					    &nbsp;
					</div>
					<div id="enemy3" class="object enemy" style="left:50px;top:50px;width:60px;height:60px;" data-ng-show="gameObject.showTokens">
					    &nbsp;
					</div>
				</div>
			</div>

			<div class="overlay" id="porsche" data-ng-show="gameObject.showPorscheOverlay">

				<h2 style="display:none;">{{"PORSCHE" | translate}}</h2>
				<h2>{{fail_message | translate}}</h2>

				<a data-ui-sref="game" data-ng-mousedown="resetGame($event)" class="greyButton tryAgainButton">{{"BUTTON_PLAY_AGAIN" | translate}} →</a>
			</div>

			<div class="overlay" id="worthy" data-ng-show="gameObject.showWorthyOverlay">
				<div class="relpos">
					<a href="" class="closer">close</a>
					<div class="header">
						<h2>{{formattedTime.seconds}}.{{formattedTime.milliseconds}} {{"seconds" | translate | uppercase}}</h2>
						<p>{{worthy_header | translate}} {{"WORTHY_COPY" | translate}}</p>
					</div>
					<div class="buttonWrapper">
						<div class="sub"><a data-ui-sref="register" class="yellowButton registerButton"  data-ng-show="gameObject.showTestDRiveButton">{{"BUTTON_REGISTER_YOUR_INTEREST" | translate}}</a></div>

						<div class="sub"><a data-ui-sref="game.play" data-ng-mousedown="resetGame($event)" class="greyButton tryAgainButton">{{"BUTTON_PLAY_AGAIN" | translate}}</a><a data-ui-sref="form" class="greyButton" data-ng-show="gameObject.showSubmitLeaderboardButton">{{"BUTTON_POST_TO_LEADERBOARD" | translate}}</a></div>
					</div>
					<div class="picwrapper">
						<img alt="" src="img/pic2.jpg" class="animationImage" style="z-index:2;">
						<img alt="" src="img/pic3.jpg" class="animationImage" style="z-index:1;">
					</div>
					<img alt="" src="img/pic1.jpg" class="former">
				</div>
			</div>
		</div>
		<div class="rightCol">
			<!--
			<div class="score">
				<h3>WORLD RECORD:</h3>
				<p><span class="seconds">{{topscore.seconds}}</span>.{{topscore.milliseconds}}</p>
			</div>
			-->
			<img class="evoraLogo" src="img/evora_400.png" alt="Evora 400">
			<a data-ui-sref="register" ng-class="{'nlButtonFix':playerLanguage == 'nl','yellowButton':true, 'registerButton':true}">{{"BUTTON_REGISTER_YOUR_INTEREST" | translate}} →</a>
			
		</div>

	</div>
	<div class="gradientFade"></div>
</div>
