<div class="viewWrapper leaderboard">
	<div class="viewBox">

		<h2>{{"LEADERBOARD_HEADER" | translate}}</h2>
		<p>{{"LEADERBOARD_COPY" | translate}}</p>
		<div class="windowWrapper">
			<div class="scroll-pane leaderboardScrollPane">
				<div class="window">
					<div class="lbBlock globalBlock">
						<h3>{{"GLOBAL" | translate}}</h3>
						<table cellpadding="0" cellspacing="0" class="leaderboard">
							<tr ng-repeat="player in activeFilter = ( players  | filter:globalMatch() | orderBy:orderByTime:true | limitTo:10 )">
								<td class="name">{{player.name}}</td>
								<td class="region">{{player.region | translate}}</td>
								<td class="sector">{{player.sector | translate}}</td>
								<td class="time">{{player.time | prettyTime}}</td>
							</tr>
						</table>
					</div>
					<div class="lbBlock regionBlock {{thisRegion}}" ng-repeat="thisRegion in regions">
						<h3>{{thisRegion | translate}}</h3>
						<table cellpadding="0" cellspacing="0" class="leaderboard">
							<tr ng-repeat="player in activeFilter = ( players | filter:regionMatch(thisRegion) | orderBy:orderByTime:true | limitTo:5)" ng-class="isTopScorer(player)">
								<td class="name">{{player.name}}</td>
								<td class="sector">{{player.sector | translate}}</td>
								<td class="time">{{player.time | prettyTime}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>

	</div>
	<div class="gradientFade"></div>
</div>

		