<div class="canvas">
	<header class="page mobileMenu" mobile-menu>
		<a data-ui-sref="game"><img class="lotusLogo" alt="lotus" src="img/lotus_logo.png"></a>

		<div language-selection ng-language="de" ></div>

		<a href="" class="mobileMenuToggle"><div class="stripe1"></div><div class="stripe2"></div><div class="stripe3"></div></a>
		<nav>
			<uL><li><a data-ui-sref="game">{{"NAV_AGILITY" | translate}}</a></li><li><a data-ui-sref="leaderboard">{{"NAV_LEADERBOARDS" | translate}}</a></li><li><a href="http://www.lotuscars.com/lotus-evora-400" target="_blank">{{"NAV_INFO" | translate}}</a></li><li><a data-ui-sref="register">{{"NAV_REGISTER" | translate}}</a></li></ul>
		</nav>
	</header>

	<div class="content">
		<div class="intro">
			<h1><span>{{'game_header_pt1' | translate}}</span><br>{{'game_header_pt2' | translate}}</h1>
			<h2><span class="hashtag">#</span>ITSNOTFORYOU</h2>
			<p>{{'game_intro' | translate}}</p>
		</div>
		<div class="ui-view" ngAnimate="{enter : 'animate-enter', leave : 'animate-leave'}"></div>
	</div>

	<div class="shareBox">
		<img alt="" src="img/lotus_evora.jpg" >
		<div class="shareControl">
			<h2>SHARE</h2>
			<ul><li class="facebook"><a href="http://www.facebook.com/LotusCars" target="_blank" title="share on facebook" class="sitefb">facebook</a></li><li class="twitter"><a href="http://twitter.com/grouplotusplc" target="_blank" title="share on twitter" class="sitetweet">twitter</a></li></ul>
		</div>
	</div>

	<footer class="page">
		<img alt="lotus" src="img/lotus_logo_small.png">
		<p>&copy; 2015 Group Lotus PLC</p>
		<ul><li class="ll"><a href="http://www.lotuscars.com/legal-terms-and-conditions" target="_blank">{{"NAV_FOOTER_TERMS" | translate}}</a></li><li class="rl"><a href="http://www.lotuscars.com/legal-privacy-policy" target="_blank">{{"NAV_FOOTER_PRIVACY" | translate}}</a></li></ul>
	</footer>
</div>
