	<header class="page mobileMenu">
		<a data-ui-sref="game"><img class="lotusLogo" alt="lotus" src="img/lotus_logo.png"></a>

		<div language-selection ng-language="de" ></div>

		<a href="" class="mobileMenuToggle"><div class="stripe1"></div><div class="stripe2"></div><div class="stripe3"></div></a>
		<nav>
			<uL><li><a data-ui-sref="game">{{"NAV_AGILITY" | translate}}</a></li><li><a data-ui-sref="leaderboard">{{"NAV_LEADERBOARDS" | translate}}</a></li><li><a href="http://www.lotuscars.com/lotus-evora-400" target="_blank">{{"NAV_INFO" | translate}}</a></li><li><a data-ui-sref="register">{{"NAV_REGISTER" | translate}}</a></li></ul>
		</nav>
	</header>
