<div class="viewWrapper genericForm registerForm">
	<div class="viewBox">
       
          <form name="playerform" class="css-form" novalidate ng-submit="submitTheForm()" ng-class="{'ng-submitted':playerform.$submitted}" >
       		<h2>{{'REGISTER_HEADER' | translate }}</h2>
              
        	<p class="mandatory">* {{'mandatory' | translate }}</p>
            <p class="generalError" >{{'POST_GENERAL_ERROR' | translate }}</p>

            <div class="field">
	            <div lg-funky-drop-down labeltr="COUNTRY_LABEL" placeholdertr="COUNTRY_LABEL" errortr="COUNTRY_ERROR" validation-flag="countryIsInvalid" options="config.country" ng-model="user.country" caret="true" required="required" tab-index="1" suffix="*"></div>
            </div>
			<div class="field">
				<label for="city">{{'CITY_LABEL' | translate}}*</label><input tabindex="2" type="text" ng-model="user.city" name="city" id="city" required=""  />
				<br />
				<div ng-show="playerform.$submitted || playerform.city.$touched">
					<p class="error" ng-show="playerform.city.$error.required"><span>{{'CITY_ERROR' | translate}}</span></p>
				</div>
			</div>  

			<div class="field">
			    <div lg-funky-drop-down labeltr="TITLE_LABEL" placeholdertr="TITLE_LABEL" errortr="TITLE_ERROR" validation-flag="titleIsInvalid" options="config.title" ng-model="user.title" caret="true" required="required" tab-index="3" suffix="*"></div>
			</div>
			<div class="field">
				<label for="forename">{{'forename_label' | translate}}*</label><input tabindex="4" type="text" ng-model="user.forename" name="forename" id="forename" required="" />
				<br />
				<div ng-show="playerform.$submitted || playerform.forename.$touched">
					<p class="error" ng-show="playerform.forename.$error.required"><span>{{'forename_error' | translate}}</span></p>
				</div>
			</div>  

			<div class="field">
				<label for="surname">{{'surname_label' | translate}}*</label><input tabindex="5" type="text" ng-model="user.surname" name="surname" id="surname" required="" />
				<br />
				<div ng-show="playerform.$submitted || playerform.surname.$touched">
					<p class="error" ng-show="playerform.surname.$error.required"><span>{{'surname_error' | translate}}</span></p>
				</div>
			</div>  
			<!-- <input type="tel"> supported by safari only -->
			<div class="field">
				<label for="phone">{{'phone_label' | translate}}*</label><input tabindex="6" type="text" ng-model="user.phone" name="phone" id="phone" required="" />
				<br />
				<div ng-show="playerform.$submitted || playerform.phone.$touched">
					<p class="error" ng-show="playerform.phone.$error.required"><span>{{'phone_error' | translate}}</span></p>
				</div>
			</div>  
						  
			<div class="field">
				<label for="email">{{'email_label' | translate}}*</label><input tabindex="7" type="email" ng-model="user.email" name="email" id="email" required="" />
				<br />
				<div ng-show="playerform.$submitted || playerform.email.$touched">
					<p class="error" ng-show="playerform.email.$error.required"><span>{{'email_error1' | translate}}</span></p>
					<p class="error" ng-show="playerform.email.$error.email"><span>{{'email_error2' | translate}}</span></p>
				</div>
			</div>  

			<div class="field customCheckBox">
				<label for="emailoptin"><input type="checkbox" ng-model="user.emailoptin" name="emailoptin" id="emailoptin" ng-true-value="0" ng-false-value="1" /><div tabindex="8" class="falseCheckbox"></div>{{'emailoptout_label' | translate}}</label>
			</div>
			<div class="field customCheckBox">
				<label for="phoneoptin"><input type="checkbox" ng-model="user.phoneoptin" name="phoneoptin" id="phoneoptin" ng-true-value="0" ng-false-value="1" /><div tabindex="9" class="falseCheckbox"></div>{{'phoneoptout_label' | translate}}</label>
			</div>
			<div class="field implicitDisclaimer"><p>{{'TERMS1' | translate}} <a href="http://www.lotuscars.com/gb/legal/privacy-policy" target="_blank">{{'TERMS2' | translate}}</a> {{'TERMS3' | translate}}</p></div>
            <div class="field buttons">
                <input tabindex="10" type="submit" value="{{'REGISTER' | translate}} →" class="yellowSubmit yellowOn" />
            </div>
          </form>
	</div>
	<div class="gradientFade"></div>
</div>
<!-- Code for Action: Lotus UK - Register Form -->
<script type="text/javascript">
	var cache_buster = parseInt(Math.random()*99999999);
	$('.registerForm').append(
		$('<img>').attr({
			"src" : "http://20643385p.rfihub.com/ca.gif?rb=16897&ca=20643385&ra=" + cache_buster,
			"height" : "0",
			"width" : "0"
		}).hide()
	);
	// document.write("<img src='http://20643385p.rfihub.com/ca.gif?rb=16897&ca=20643385&ra=" + cache_buster + "' height=0 width=0 style='display:none' alt='Rocket Fuel'/>");
</script>


