<div class="viewWrapper thanksView">
	<div class="viewBox">
		<h2>{{"REGISTER_THANKS" | translate}}</h2> 
		<a data-ui-sref="game" data-ng-mousedown="resetGame($event)" class="greyButton tryAgainButton">{{"BUTTON_PLAY_AGAIN" | translate}} →</a>
	</div>
	<div class="gradientFade"></div>
</div>
<!-- Code for Action: Lotus UK - Register Form -->
<script type="text/javascript">
	var cache_buster = parseInt(Math.random()*99999999);
	$('.thanksView').append(
		$('<img>').attr({
			"src" : "http://20666665p.rfihub.com/ca.gif?rb=16897&ca=20666665&ra=" + cache_buster,
			"height" : "0",
			"width" : "0"
		}).hide()
	);
</script>
