<div class="viewWrapper shareView">
	<div class="viewBox">
		<h2>{{'SHARE_HEADER' | translate}}</h2>
	    <p>{{'SHARE_COPY1' | translate}}</p>
	    <img alt="" src="img/game.png" alt="">
	    <p>{{'SHARE_COPY2' | translate}} <span>{{time.seconds}}.{{time.milliseconds}} {{'SHARE_COPY3' | translate}}</span> {{'SHARE_COPY4' | translate}}</p>
	    <div class="shareButtons"><a href="" class="yellowButton deEmphasise facebook fb">{{'SHARE_BUTTON' | translate}} <img alt="facebook" src="img/facebook.png"> <span>→</span></a>
	    <a href="" class="yellowButton deEmphasise twitter tweet">{{'SHARE_BUTTON' | translate}} <img alt="twitter" src="img/twitter.png"> <span>→</span></a>
	 
</div>
<a data-ui-sref="register" ng-class="{'yellowButton':true, 'registerButton':true}">{{"BUTTON_REGISTER_YOUR_INTEREST" | translate}} →</a>	   

	</div>
	<div class="gradientFade"></div>
</div>
